body{
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	line-height: 135%;
	color:#0D0100;
	margin: 0;
	padding: 0;
}
body *{
	margin: 0;
	padding: 0;
}
h2 {
	color:#9A0703;
	font-size: 14px;
	font-weight: bold;
}
.award{
	float:right;
	font-family:Georgia, "Times New Roman", Times, san-serif;
	font-size:10px;
	font-weight:normal;
	line-height:115%;
	margin:0px 0 7px 0;
}
.award img{
	float:left;
	margin:-4px 3px 0px 0;
}
#awardIndicate{
	margin:15px 37px 0px 0;
}
#awardIndicate img{
	margin:-10px 0 0 0;
}
#middle, #top, #bottom{
	background-color: #F9F8F4;
	margin-left: 35px;
	width:924px;
}
#bottom{
	background:none;
	color: #F9F8F4;
	font-size: 10px;
	margin: auto;
	padding: 10px 0 17px;
	text-align: center;
}
#main{
	background: url(/images/pageBG.jpg) no-repeat top #0E0000;
	margin: auto;
	width:984px;
}
#middle{
	padding-bottom: 17px;
}
#middle h2{
	margin: 10px 0 10px 35px;
}
#middle dl{
	background-color: #EBD5D1;
	margin-left: 35px; 
	padding:10px;
	width:832px;
}
#middle dl.odd{
	background-color: #E0B8B4;
}
#middle dl a{
	color:#0D0100;
	text-decoration: underline;
}
#middle dl a:hover{
	color:#2D2122;
	text-decoration: underline;
}
#middle dt{
	font-size: 12px;
	font-weight: bold;
}
#middle dd img{
	float: right;
	margin-left: 10px;
}
.nobreak{
	line-height: 0;
	font-size: 0;
}
#stage{
	background: url(/images/stage.jpg) no-repeat #0E0000;
	float:right;
	height: 486px;
	margin: -125px 0 0 329px;
	position: absolute;
	width: 595px;
	z-index: 10;
}
#stage #movie{
	height: 400px;
	margin: 80px 43px 0;
	width: 500px;
}
.starsStripe{
	margin-left: 7px;
}
#top a{
	color:#2D2122;
	text-decoration: underline;
}
#top a:hover{
	color:#0D0100;
	text-decoration: underline;
}
#top p{
	margin: 3px 0 3px 17px;
	text-align: justify;
	width: 293px;
}
#top #clanBug{
	margin:0 0 6px 15px;
}
#specs{
	float:right;
	font-size: 10px;
	margin: 360px 15px 0 0;
	text-align: right;
	width:425px;
}
#wrapper{
	background: url(/images/pageBG.jpg) repeat-x top #0E0000;
}
#bottom{
	margin-top:10px;
	padding:10px;
	text-align:center;
}
#bottom a{
	color:#F9F8F4;
}
#bottom a:hover{
	color:#FFFFFF;
}
#bottom ul{
	list-style-type:none;
	margin:auto auto 10px;
	width:700px;
}
#bottom ul li{
	display:inline;
	margin-right:25px;
}